:root {
    --blu: #1111bc;
    --ofwh: #fdf2dc;
    --blwh: #dae4ff;
}

a:link {
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background: linear-gradient(var(--ofwh), var(--blwh) );
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    position: relative;

}
header {
    height: 60px;
    width: 100%;
    background-color: var(--blu);
    display: flex;
}

header h1{
    display: inline-block;
    flex: 2;
    font-size: 25px;
    padding: 17px;
}

header li {
    display: inline-block;
}

header button {
    justify-content: end;
    padding: 18px;
    background-color: var(--blu);
    border-color: var(--ofwh);
}

header a{
    color: var(--ofwh);
}

main figure {
    width: fit-content;
}

footer {
    text-align: center;
    color: var(--blu);
}