:root {
    --blu: #1111bc;
    --ofwh: #fdf2dc;
    --blwh: #dae4ff;
}

header a:link {
    text-decoration: none;
    background-color: var(--blu);
    color: var(--ofwh);
    border: 2px solid var(--ofwh);
    padding: 18px 10px;
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: var(--blu);
    background-color: var(--ofwh);
}

*{
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background: linear-gradient(var(--ofwh), var(--blwh) );
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    position: relative;

}
header {
    height: 60px;
    width: 100%;
    background-color: var(--blu);
    display: flex;
}

header h1{
    display: inline-block;
    flex: 2;
    font-size: 35px;
    padding: 9px;
    color: var(--ofwh);
}

header li {
    display: inline-block;
    justify-content: end;
    padding-top: 2px;
}

header a{
    color: var(--ofwh);
}

main figure {

}

article {
    color: var(--blu);
}

#first {
    height: 600px;
    width: 85%;
    margin-bottom: 25px;
    border: 2px solid var(--blu);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
    background-image: url(assets\images\digital-marketing-meeting.jpg);
}

footer {
    text-align: center;
    color: var(--blu);
}