:root {
    --blu: #1111bc;
}

*{
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background: linear-gradient(#fdf2dc, #e9efff);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    position: relative;

}
header {
    height: 60px;
    width: 100%;
    background-color: var(--blu);
}

header ul {
    text-align: right;
}

header li {
    margin: 20px;
}

footer {
    text-align: center;
    color: var(--blu);
}